.hide{display:none}
.main-nav{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	min-width:1200px;
	height:85px;
	background:url(../images/nav-bg_5dfbca1.png) no-repeat center top;
	z-index:99
}
.nav-wrap{width:1200px;margin:0 auto;position:relative}
.main-nav .nav-box{width:1080px;height:85px;margin-left:125px}
.main-nav .nav-box>li{float:left}
.main-nav .nav-box>li>a{display:block;width:135px;line-height:68px;font-size:20px;font-family:Arial;text-align:center;color:#bebfc5;position:relative}
.main-nav .nav-box a i{display:inline-block;*display:inline;*zoom:1;background:url(../images/nav-a_dc1e63b.png) no-repeat;width:12px;height:12px;position:relative;top:-2px;margin-right:5px}
.logo{display:block;background:url(../images/logo_c37a948.png) no-repeat;width:114px;height:114px;position:absolute;left:-5px;top:0}
.main-nav .nav-box .nav-li{height:68px}
.main-nav .nav-box .nav-li>a{position:relative;top:0;-moz-transition:all .15s linear;-webkit-transition:all .15s linear;-o-transition:all .15s linear;-ms-transition:all .15s linear;transition:all .15s linear}
.main-nav .nav-box .nav-li>a:hover{color:#e9c36f;position:relative;top:-5px}
.main-nav .nav-box .nav-li>a:hover i{background:url(../images/nav-a-hover_0bed4be.png) no-repeat}
.main-nav .nav-box .nav-li>a.active{color:#e9c36f}
.main-nav .nav-box .nav-li >a.active i{background:url(../images/nav-a-hover_0bed4be.png) no-repeat}
.main-nav .nav-box .nav-li .jqqd{cursor:default}
.main-nav .nav-box .nav-li .jqqd:hover{color:#7b7f97}
.main-nav .nav-box .nav-li .drop-box{background:url(../images/drop-repeat_d2251bb.png) repeat-y;position:relative;margin-left:10px}
.main-nav .nav-box .nav-li .drop-box .luntan{background:url(../images/luntan_18c5bb7.png) no-repeat;width:117px;height:186px}
.main-nav .nav-box .nav-li .drop-box a{display:block;width:117px;line-height:30px;font-size:16px;font-family:Arial;text-align:center;color:#fff}
.main-nav .nav-box .nav-li .transparent{background:url(../images/drop_trans_caf3910.png);width:117px;height:22px;position:absolute;left:0;bottom:-22px}
.main-nav .nav-box .nav-li .drop-box a:hover{background:url(../images/dropcricle_dae371e.png) no-repeat 10px 12px;color:#e9c36f}
.main-nav .nav-box .logo-li{margin-left:0;margin-right:30px;line-height:85px}
.main-nav .nav-box .last-li{margin-right:0}
.main-nav .nav-box .nav-li.last-li ul{background:0 0}