@charset "utf-8";
blockquote,body,button,caption,dd,div,dl,dt,fieldset,
figure,form,h1,h2,h3,h4,h5,h6,hr,html,legend,li,menu,
ol,p,pre,table,td,textarea,th,ul{
	padding:0;
	margin:0
}
abbr,body,fieldset,html,iframe,img{border:0}
li{list-style:none}
textarea{overflow:auto;resize:none}
a,button{cursor:pointer;outline:0}
button{border:0;background:0 0}
b,em,h1,h2,h3,h4,h5,h6,strong{font-weight:700}
a,a:hover{text-decoration:none}
a,input{outline:0}
body,html{
	height:auto;
	width:100%;
	font-family:Arial,HelveticaNeue,Helvetica,"BBAlpha Sans",sans-serif;
	font-weight:400;
	display:-webkit-box;
	-webkit-box-orient:vertical;
	-webkit-box-align:center
}

html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;font-size:62.5%}
input{-webkit-appearance:none}
*{-webkit-touch-callout:none;-webkit-tap-highlight-color:transparent;-webkit-focus-ring-color:transparent}
.hide{display:none}html{font-size:312.5%}
@media screen and (min-width:360px) and (max-width:374px) and (orientation:portrait){html{font-size:351.5%}}
@media screen and (min-width:384px) and (max-width:399px) and (orientation:portrait){html{font-size:375%}}
@media screen and (min-width:400px) and (max-width:413px) and (orientation:portrait){html{font-size:390.625%}}
@media screen and (min-width:414px) and (max-width:431px) and (orientation:portrait){html{font-size:404.3%}}
@media screen and (min-width:432px) and (max-width:479px) and (orientation:portrait){html{font-size:421.875%}}
@media screen and (min-width:480px) and (max-width:639px) and (orientation:portrait){html{font-size:468.75%}}
@media screen and (min-width:640px) and (orientation:portrait){html{font-size:625%}}
body{width:100%;color:#000;background:#dfeaf7}
header,section,aside,footer{position:relative}
#forhorview{position:fixed;width:100%;height:100%;background:rgba(0,0,0,.8);z-index:9999;color:#FFF;font-size:.3rem;text-align:center;line-height:3rem;display:none}
.wrap{width:100%;background-color:#dfeaf7}
.main{width:100%;overflow:hidden}
header{width:100%;height:1.13rem;overflow:hidden;background:url(../img/bg-header.png) no-repeat;background-size:100% auto}
#qiangma{position:absolute;right:0;top:0;width:1.7rem;height:1.13rem;text-indent:-999em}
#home{position:absolute;left:0;top:0;width:1.13rem;height:1.13rem;text-indent:-999em}
.header{width:100%;background:url(../images/header_7a8a143.png) no-repeat;background-size:cover;height:1.39rem;position:relative;z-index:99}
.header .download{display:block;width:1.7rem;height:.52rem;position:absolute;right:.11rem;bottom:.14rem}
.icon-header{background:url(../images/icon_c30a812.png) no-repeat;width:1.25rem;height:1.25rem;background-size:100% 100%;display:block;position:absolute;left:.2rem;top:.1rem}
.icon-menu{width:.58rem;height:.31rem;background-size:100% 100%;display:block;position:absolute;right:.08rem;top:.18rem}
.nav-header{width:1.25rem;height:.5rem;display:inline-block;float:left;margin-top:.17rem;margin-left:.1rem}
.nav-header.nav-news{margin-left:1.51rem}
.dropdown-menu{
	display:none;
	width:2.353rem;
	height:8.411rem;
	position:absolute;
	background:url(../images/header-menu_fd323a6.png) no-repeat;
	background-size:100% 100%;
	right:.1rem;
	top:.57rem;
	transition:all .3s;
	-webkit-transition:all .3s;
	z-index:999
}
.dropdown-menu a,.dropdown-menu button{display:block;width:2.353rem;height:.64rem}
.dropdown-menu a.nav1,.dropdown-menu button.nav1{margin-top:.14rem}
.footer{padding:.42rem 0 .22rem;text-align:center;font:400 .22rem/0.56rem Arial}
.newbie .footer{padding-bottom:0}
.footer a{color:#8c0c17;text-decoration:none}
.share{display:block;font-size:.28rem;line-height:1.5em;text-align:left}
.list .share{display:none}.share .NIE-mshare-dark{background:0 0}
.share .NIE-mshare-dark .NIE-mshare-icon{border:0}
.share .NIE-share-bar{display:block;text-align:center}
.share .NIE-mshare-dark .NIE-share-bar a{background-image:url(../images/icon-share_d4291b5.png);margin:0 .5em;border:0;display:inline-block;float:none}
.share .NIE-mshare-dark .NIE-share-bar a:active{background-color:transparent;background-position-y:0}
.share .NIE-share-tag{display:none}
.share .text{display:block;text-align:center}
.share .text,.share .NIE-mshare-more h1,.share .NIE-mshare-more p{color:#333}
.share .NIE-mshare-more span i,.share .NIE-mshare-more span em{background:#333}
.share .NIE-mshare-more span{border-color:#333}
footer{width:100%;padding:.16rem 0;text-align:center;color:#535353;background:#2a2a2a}
footer p{font:400 .18rem/0.48rem Arial}
#top{position:fixed;right:.1rem;bottom:10%;width:.58rem;height:.52rem;background:url(../images/icon-top_692127b.png) no-repeat;background-size:100% 100%;display:none;z-index:10}
.noSize{font-size:0;text-indent:-9999em}
.fuchsia{color:#9b17ee}