/*
* author:wangjia;
* date:20160527;
*/
#j-wn-gamehead{ width: 100%; background: #fff;}
a{ text-decoration: none;}
.bg{ width: 100%; min-width: 1100px;}
.nav{ width: 100%; min-width: 1100px; height: 114px; position: fixed; top: 0; left: 0; z-index: 20;}
.navbg{ width: 100%; height: 114px; background: #000; position: absolute; top: 0; left: 0; z-index: 20; opacity: 0.6; filter:alpha(opacity=60);}
.nav .logo{ position: absolute; z-index: 21; top: 8px; left: 0;}
.nav .menu{ position: absolute; z-index: 21; top: 0; right: 250px; width: 350px; height: 115px; }
.nav .menu a{ width: 110px; height: 70px; float: left; margin-top: 40px; text-align: center; font: normal 12px/1.5 "Microsoft Yahei"; color: #fff; text-align: center; text-transform: uppercase; opacity: 0.8;transition:opacity 0.5s; -webkit-transition:opacity 0.5s;}
.nav .menu a b{ font: bold 14px/1.5 "Microsoft Yahei";}
.nav .menu a:hover{ opacity: 1;}

.nav .m_sns{ position: absolute; z-index: 21; width: 245px; height: 114px; right: 10px;}
.nav .m_sns a{ width: 43px; height: 43px; float: left; margin-top: 35px; margin-left: 15px; background: url(../images/m_sns.png) no-repeat; opacity: 0.6;transition:opacity 0.5s; -webkit-transition:opacity 0.5s;}
.nav .m_sns a:hover{ opacity: 1;}
.nav .m_sns .a1{ background-position: 0 0 ; }
.nav .m_sns .a2{ background-position: -43px 0 ; }
.nav .m_sns .a3{ background-position: -86px 0 ; }
.nav .m_sns .a4{ background-position: -129px 0 ; }
.nav .m_sns img{ position: absolute; top: 85px; left: -25px; opacity: 0.8;}

.nav .zhibo-btn{  width: 346px; height: 58px; position: absolute; top: 0; left: 50%; box-shadow: 0 0 5px #aaa; background: #fff url(../images/zhibo-icon.png) 20px center no-repeat; margin-left: -175px; top: 80px; z-index: 21; border-radius: 29px; text-indent: 10px; font: normal 14px/58px "Microsoft Yahei"; color: #222; text-align: center;}
.nav .zhibo-btn b{ font-weight: bold;}

#pub_footer{ position: relative; z-index: 2; padding-bottom: 10px;}
