html, body, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, p, blockquote, pre, hr, figure, table, caption, th, td, form, fieldset, legend, input, button, textarea, menu {margin: 0;padding: 0}
body {padding: 0;margin: 0;background: #000}
html, body, fieldset, img, iframe, abbr {border: 0}
li {list-style: none}
textarea {overflow: auto;resize: none}
h1, h2, h3, h4, h5, h6, em, strong, b {font-weight: 700}
a, a:hover {text-decoration: none}
body, textarea, input, button {color: #000;font-family: "\5FAE\8F6F\96C5\9ED1", "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi}
a:hover {text-decoration: none}
a, button {cursor: pointer;text-align: center}
button {border: 0;outline: 0;background: 0 0}
li {list-style: none}
textarea {overflow: auto;resize: none}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {-webkit-appearance: none!important;margin: 0}
table {border-collapse: collapse;border-spacing: 0}
td {text-align: center}
html, body {width: 100%;min-width: 1200px;height: auto;font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;background: #fff;line-height: 1.5}
.hide {display: none}
.fl {float: left}
.fr {float: right}
.show {display: block}
.inline {display: inline-block;*zoom: 1;*display: inline}
@-webkit-keyframes test {
	0% {-webkit-opacity: 0;-moz-opacity: 0;opacity: 0;filter: alpha(opacity=0);-webkit-transform: translateY(30px)}100% {-webkit-opacity: 1;-moz-opacity: 1;opacity: 1;filter: alpha(opacity=100);-webkit-transform: translateX(0px)}
}
@-moz-keyframes test {
	0% {-webkit-opacity: 0;-moz-opacity: 0;opacity: 0;filter: alpha(opacity=0);-webkit-transform: translateY(30px)}100% {-webkit-opacity: 1;-moz-opacity: 1;opacity: 1;filter: alpha(opacity=100);-webkit-transform: translateX(0px)}
}
@-o-keyframes test {
	0% {-webkit-opacity: 0;-moz-opacity: 0;opacity: 0;filter: alpha(opacity=0);-webkit-transform: translateY(30px)}100% {-webkit-opacity: 1;-moz-opacity: 1;opacity: 1;filter: alpha(opacity=100);-webkit-transform: translateX(0px)}
}
@-ms-keyframes test {
	0% {-webkit-opacity: 0;-moz-opacity: 0;opacity: 0;filter: alpha(opacity=0);-webkit-transform: translateY(30px)}100% {-webkit-opacity: 1;-moz-opacity: 1;opacity: 1;filter: alpha(opacity=100);-webkit-transform: translateX(0px)}
}
@keyframes test {
	0% {-webkit-opacity: 0;-moz-opacity: 0;opacity: 0;filter: alpha(opacity=0);-webkit-transform: translateY(30px)}100% {-webkit-opacity: 1;-moz-opacity: 1;opacity: 1;filter: alpha(opacity=100);-webkit-transform: translateX(0px)}
}
.test {opacity: 0;-webkit-animation: leihuo .5s .3s forwards 300ms 0 ease;-moz-animation: leihuo .5s .3s forwards 300ms 0 ease;-ms-animation: leihuo .5s .3s forwards 300ms 0 ease;animation: leihuo .5s .3s forwards 300ms 0 ease;-moz-animation: leihuo .5s .3s forwards;-webkit-animation: leihuo .5s .3s forwards;-o-animation: leihuo .5s .3s forwards;-ms-animation: leihuo .5s .3s forwards;animation: leihuo .5s .3s forwards}
@-webkit-keyframes player {
	0% {-webkit-transform: rotateX(0deg)}100% {-webkit-transform: rotateX(360deg)}
}
@-moz-keyframes player {
	0% {-webkit-transform: rotateX(0deg)}100% {-webkit-transform: rotateX(360deg)}
}
@-o-keyframes player {
	0% {-webkit-transform: rotateX(0deg)}100% {-webkit-transform: rotateX(360deg)}
}
@-ms-keyframes player {
	0% {-webkit-transform: rotateX(0deg)}100% {-webkit-transform: rotateX(360deg)}
}

@keyframes player {
	0% {-webkit-transform: rotateX(0deg)}100% {-webkit-transform: rotateX(360deg)}
}
@-webkit-keyframes arrow {
	0% {-webkit-transform: translateY(-20px)}100% {-webkit-transform: translateY(20deg)}
}
@-moz-keyframes arrow {
	0% {-webkit-transform: translateY(-20px)}100% {-webkit-transform: translateY(20deg)}
}
@-o-keyframes arrow {
	0% {-webkit-transform: translateY(-20px)}100% {-webkit-transform: translateY(20deg)}
}
@-ms-keyframes arrow {
	0% {-webkit-transform: translateY(-20px)}100% {-webkit-transform: translateY(20deg)}
}
@keyframes arrow {
	0% {-webkit-transform: translateY(-20px)}100% {-webkit-transform: translateY(20deg)}
}
@-webkit-keyframes fadeInLeft {
	0% {opacity: 0;-webkit-transform: translateX(-300px)}100% {opacity: 1;-webkit-transform: translateX(0px)}
}
@-moz-keyframes fadeInLeft {
	0% {opacity: 0;-webkit-transform: translateX(-300px)}100% {opacity: 1;-webkit-transform: translateX(0px)}
}
@-o-keyframes fadeInLeft {
	0% {opacity: 0;-webkit-transform: translateX(-300px)}100% {opacity: 1;-webkit-transform: translateX(0px)}
}
@-ms-keyframes fadeInLeft {
	0% {opacity: 0;-webkit-transform: translateX(-300px)}100% {opacity: 1;-webkit-transform: translateX(0px)}
}
@keyframes fadeInLeft {
	0% {opacity: 0;-webkit-transform: translateX(-300px)}100% {opacity: 1;-webkit-transform: translateX(0px)}
}
@-webkit-keyframes fadeInRight {
	0% {opacity: 0;-webkit-transform: translateX(300px)}100% {opacity: 1;-webkit-transform: translateX(0px)}
}
@-moz-keyframes fadeInRight {
	0% {opacity: 0;-webkit-transform: translateX(300px)}100% {opacity: 1;-webkit-transform: translateX(0px)}
}
@-o-keyframes fadeInRight {
	0% {opacity: 0;-webkit-transform: translateX(300px)}100% {opacity: 1;-webkit-transform: translateX(0px)}
}
@-ms-keyframes fadeInRight {
	0% {opacity: 0;-webkit-transform: translateX(300px)}100% {opacity: 1;-webkit-transform: translateX(0px)}
}
@keyframes fadeInRight {
	0% {opacity: 0;-webkit-transform: translateX(300px)}100% {opacity: 1;-webkit-transform: translateX(0px)}
}
.oh {overflow: hidden}
#NIE-copyRight, #NIE-copyRight a {color: #fff}
#Mshare {width: 300px;height: 50px;margin: 160px auto 0}
#Mshare .NIE-share .NIE-share-iconBtn li {margin-left: 4px}
#Mshare .morebtn {display: none}
#Mshare .NIE-share-txt {color: #4d4d4d}
#Mshare .NIE-share-iconBtn a {color: #4d4d4d}
#Mshare .NIE-share-iconBtn a:hover {color: #b3b5b5}
.wrap {overflow: hidden}
.main {width: 1200px;margin: 0 auto;position: relative}
#flash {width: 100%;height: 960px;margin-left: -360px}
.block1 {width: 100%;height: 1275px}
.block1.on {background: url(../images/bg1_1cb1547.jpg) no-repeat center top}
.block1 .logo {display: block;width: 265px;height: 85px;position: absolute;left: 50%;margin-left: -160px;top: 10px;background-repeat: no-repeat;}
.block1 .slogan {background: url(../images/slogan_caf7664.png) no-repeat;width: 514px;height: 306px;position: absolute;top: 130px;left: 50%;margin-left: -257px}
.block1 .play {width: 103px;height: 84px;position: absolute;left: 50%;margin-left: -51px;top: 490px;cursor: pointer;	background-repeat: no-repeat;}
.block1 .play .player {width: 22px;height: 35px;position: absolute;top: 18px;left: 27px;-webkit-animation: player 2s ease-out infinite 300ms 0 ease;-moz-animation: player 2s ease-out infinite 300ms 0 ease;-ms-animation: player 2s ease-out infinite 300ms 0 ease;animation: player 2s ease-out infinite 300ms 0 ease;-moz-animation: player 2s ease-out infinite;-webkit-animation: player 2s ease-out infinite;-o-animation: player 2s ease-out infinite;-ms-animation: player 2s ease-out infinite;animation: player 2s ease-out infinite;background-repeat: no-repeat;}
.block2 {background: url(../images/bg2_fd57b02.jpg) no-repeat center top;width: 100%;height: 1356px}
.topbar {background: url(../images/bg_top_bc933d0.png) no-repeat;position: absolute;right: 0;top: 0;width: 179px;height: 712px}
.topbar .goindex {display: block;width: 179px;height: 115px;margin: 0 auto;background-repeat: no-repeat;}
.topbar .goindex:hover {background-repeat: no-repeat;}
.order_con {width: 150px;height: 139px;margin: 335px auto 0;overflow: hidden;background-repeat: no-repeat;}
.order_con ul {width: 120px;margin: 25px auto 0}
.order_con ul li {width: 100%;height: 28px;margin-bottom: 5px}
.order_con ul li:last-child {margin-bottom: 0}
.order_con ul input {width: 120px;height: 28px;background: 0 0;border: 1px solid #737372;box-sizing: border-box;font-size: 12px;color: #fff;line-height: 28px;text-indent: 1em}
.order_con .tip {text-align: center;color: #c7a251;font-size: 12px}
.order_con .btn_order {display: block;width: 119px;height: 25px;margin: 3px auto 0;background-repeat: no-repeat;}
.order_con .btn_order:hover {background-repeat: no-repeat;}
.desc {width: 1200px;height: 530px;position: absolute;top: 730px;left: 0}
.desc .des_title {background: url(../images/h5-title_9389b15.png) no-repeat;width: 1486px;height: 199px;margin-left: 100px}
.desc .des_con>div {margin-right: 6px}
.desc .des_con>div:last-child {margin-right: 0}
.desc .des1 {width: 350px;height: 329px;background-repeat: no-repeat;}
.desc .des2 {width: 56px;height: 42px;margin-top: 145px;background-repeat: no-repeat;}
.desc .des3 {width: 350px;height: 329px;background-repeat: no-repeat;}
.desc .des4 {width: 56px;height: 42px;margin-top: 145px;background-repeat: no-repeat;}
.desc .des5 {width: 357px;height: 329px;background-repeat: no-repeat;}
.banner {width: 1200px;height: 1000px;position: relative}
.banner .nav_bg {background: url(../images/bg_banner_fb4d99b.png) no-repeat;width: 171px;height: 598px;position: absolute;top: 165px;left: 10px}
.banner .nav {width: 171px;height: 598px;position: absolute;z-index: 10;top: 165px;left: 10px}
.banner .nav a {display: block;background: url(../images/nav_banner_a87a7cb.png) no-repeat;width: 110px;height: 25px;margin-bottom: 78px;margin-left: 7px}
.banner .nav .nav1 {margin-top: 120px;background-position: 0 0}
.banner .nav .nav1:hover, .banner .nav .nav1.active {background-position: -110px 0}
.banner .nav .nav2 {background-position: 0 -103px}
.banner .nav .nav2:hover, .banner .nav .nav2.active {background-position: -110px -103px}
.banner .nav .nav3 {background-position: 0 -205px}
.banner .nav .nav3:hover, .banner .nav .nav3.active {background-position: -110px -205px}
.banner .nav .nav4 {background-position: 0 -306px}
.banner .nav .nav4:hover, .banner .nav .nav4.active {background-position: -110px -306px}
.banner_list {width: 1491px;height: 868px;position: absolute;top: 60px;left: -12px}
.banner_detail>div {position: absolute;width: 1491px;height: 868px}
.banner_detail .b_bg1 {background: url(../images/bg3_0962b71.png) no-repeat;-webkit-animation: fadeInLeft .4s ease-in-out both 300ms 0 ease;-moz-animation: fadeInLeft .4s ease-in-out both 300ms 0 ease;-ms-animation: fadeInLeft .4s ease-in-out both 300ms 0 ease;animation: fadeInLeft .4s ease-in-out both 300ms 0 ease;-moz-animation: fadeInLeft .4s ease-in-out both;-webkit-animation: fadeInLeft .4s ease-in-out both;-o-animation: fadeInLeft .4s ease-in-out both;-ms-animation: fadeInLeft .4s ease-in-out both;animation: fadeInLeft .4s ease-in-out both}
.banner_detail .b_title1 {background: url(../images/title3_6e19500.png) no-repeat;-webkit-animation: fadeInRight .3s .5s ease-in-out both 300ms 0 ease;-moz-animation: fadeInRight .3s .5s ease-in-out both 300ms 0 ease;-ms-animation: fadeInRight .3s .5s ease-in-out both 300ms 0 ease;animation: fadeInRight .3s .5s ease-in-out both 300ms 0 ease;-moz-animation: fadeInRight .3s .5s ease-in-out both;-webkit-animation: fadeInRight .3s .5s ease-in-out both;-o-animation: fadeInRight .3s .5s ease-in-out both;-ms-animation: fadeInRight .3s .5s ease-in-out both;animation: fadeInRight .3s .5s ease-in-out both}
.banner_detail .b_person1 {background: url(../images/person3_4af6fb1.png) no-repeat;-webkit-animation: fadeInRight .4s ease-in-out both 300ms 0 ease;-moz-animation: fadeInRight .4s ease-in-out both 300ms 0 ease;-ms-animation: fadeInRight .4s ease-in-out both 300ms 0 ease;animation: fadeInRight .4s ease-in-out both 300ms 0 ease;-moz-animation: fadeInRight .4s ease-in-out both;-webkit-animation: fadeInRight .4s ease-in-out both;-o-animation: fadeInRight .4s ease-in-out both;-ms-animation: fadeInRight .4s ease-in-out both;animation: fadeInRight .4s ease-in-out both}
.banner_detail .b_bg2 {background: url(../images/bg1_2ea589b.png) no-repeat;-webkit-animation: fadeInLeft .4s ease-in-out both 300ms 0 ease;-moz-animation: fadeInLeft .4s ease-in-out both 300ms 0 ease;-ms-animation: fadeInLeft .4s ease-in-out both 300ms 0 ease;animation: fadeInLeft .4s ease-in-out both 300ms 0 ease;-moz-animation: fadeInLeft .4s ease-in-out both;-webkit-animation: fadeInLeft .4s ease-in-out both;-o-animation: fadeInLeft .4s ease-in-out both;-ms-animation: fadeInLeft .4s ease-in-out both;animation: fadeInLeft .4s ease-in-out both}
.banner_detail .b_title2 {background: url(../images/title1_963851b.png) no-repeat;-webkit-animation: fadeInLeft .3s .5s ease-in-out both 300ms 0 ease;-moz-animation: fadeInLeft .3s .5s ease-in-out both 300ms 0 ease;-ms-animation: fadeInLeft .3s .5s ease-in-out both 300ms 0 ease;animation: fadeInLeft .3s .5s ease-in-out both 300ms 0 ease;-moz-animation: fadeInLeft .3s .5s ease-in-out both;-webkit-animation: fadeInLeft .3s .5s ease-in-out both;-o-animation: fadeInLeft .3s .5s ease-in-out both;-ms-animation: fadeInLeft .3s .5s ease-in-out both;animation: fadeInLeft .3s .5s ease-in-out both}
.banner_detail .b_person2 {background: url(../images/person1_25b7797.png) no-repeat;-webkit-animation: fadeInRight .4s ease-in-out both 300ms 0 ease;-moz-animation: fadeInRight .4s ease-in-out both 300ms 0 ease;-ms-animation: fadeInRight .4s ease-in-out both 300ms 0 ease;animation: fadeInRight .4s ease-in-out both 300ms 0 ease;-moz-animation: fadeInRight .4s ease-in-out both;-webkit-animation: fadeInRight .4s ease-in-out both;-o-animation: fadeInRight .4s ease-in-out both;-ms-animation: fadeInRight .4s ease-in-out both;animation: fadeInRight .4s ease-in-out both}
.banner_detail .b_bg3 {background: url(../images/bg2_27d1254.png) no-repeat;-webkit-animation: fadeInLeft .4s ease-in-out both 300ms 0 ease;-moz-animation: fadeInLeft .4s ease-in-out both 300ms 0 ease;-ms-animation: fadeInLeft .4s ease-in-out both 300ms 0 ease;animation: fadeInLeft .4s ease-in-out both 300ms 0 ease;-moz-animation: fadeInLeft .4s ease-in-out both;-webkit-animation: fadeInLeft .4s ease-in-out both;-o-animation: fadeInLeft .4s ease-in-out both;-ms-animation: fadeInLeft .4s ease-in-out both;animation: fadeInLeft .4s ease-in-out both}
.banner_detail .b_title3 {background: url(../images/title2_0f6f353.png) no-repeat;-webkit-animation: fadeInRight .3s .5s ease-in-out both 300ms 0 ease;-moz-animation: fadeInRight .3s .5s ease-in-out both 300ms 0 ease;-ms-animation: fadeInRight .3s .5s ease-in-out both 300ms 0 ease;animation: fadeInRight .3s .5s ease-in-out both 300ms 0 ease;-moz-animation: fadeInRight .3s .5s ease-in-out both;-webkit-animation: fadeInRight .3s .5s ease-in-out both;-o-animation: fadeInRight .3s .5s ease-in-out both;-ms-animation: fadeInRight .3s .5s ease-in-out both;animation: fadeInRight .3s .5s ease-in-out both}
.banner_detail .b_person3 {background: url(../images/person2_580ae67.png) no-repeat;-webkit-animation: fadeInRight .4s ease-in-out both 300ms 0 ease;-moz-animation: fadeInRight .4s ease-in-out both 300ms 0 ease;-ms-animation: fadeInRight .4s ease-in-out both 300ms 0 ease;animation: fadeInRight .4s ease-in-out both 300ms 0 ease;-moz-animation: fadeInRight .4s ease-in-out both;-webkit-animation: fadeInRight .4s ease-in-out both;-o-animation: fadeInRight .4s ease-in-out both;-ms-animation: fadeInRight .4s ease-in-out both;animation: fadeInRight .4s ease-in-out both}
.banner_detail .b_bg4 {background: url(../images/bg4_dad751c.png) no-repeat;-webkit-animation: fadeInLeft .4s ease-in-out both 300ms 0 ease;-moz-animation: fadeInLeft .4s ease-in-out both 300ms 0 ease;-ms-animation: fadeInLeft .4s ease-in-out both 300ms 0 ease;animation: fadeInLeft .4s ease-in-out both 300ms 0 ease;-moz-animation: fadeInLeft .4s ease-in-out both;-webkit-animation: fadeInLeft .4s ease-in-out both;-o-animation: fadeInLeft .4s ease-in-out both;-ms-animation: fadeInLeft .4s ease-in-out both;animation: fadeInLeft .4s ease-in-out both}
.banner_detail .b_title4 {background: url(../images/title4_5768d32.png) no-repeat;-webkit-animation: fadeInLeft .3s .5s ease-in-out both 300ms 0 ease;-moz-animation: fadeInLeft .3s .5s ease-in-out both 300ms 0 ease;-ms-animation: fadeInLeft .3s .5s ease-in-out both 300ms 0 ease;animation: fadeInLeft .3s .5s ease-in-out both 300ms 0 ease;-moz-animation: fadeInLeft .3s .5s ease-in-out both;-webkit-animation: fadeInLeft .3s .5s ease-in-out both;-o-animation: fadeInLeft .3s .5s ease-in-out both;-ms-animation: fadeInLeft .3s .5s ease-in-out both;animation: fadeInLeft .3s .5s ease-in-out both}
.banner_detail .b_person4 {background: url(../images/person4_c09b812.png) no-repeat;-webkit-animation: fadeInRight .4s ease-in-out both 300ms 0 ease;-moz-animation: fadeInRight .4s ease-in-out both 300ms 0 ease;-ms-animation: fadeInRight .4s ease-in-out both 300ms 0 ease;animation: fadeInRight .4s ease-in-out both 300ms 0 ease;-moz-animation: fadeInRight .4s ease-in-out both;-webkit-animation: fadeInRight .4s ease-in-out both;-o-animation: fadeInRight .4s ease-in-out both;-ms-animation: fadeInRight .4s ease-in-out both;animation: fadeInRight .4s ease-in-out both}
#mask {background: #000;opacity: .75;width: 100%;height: 100%;position: fixed;left: 0;top: 0;right: 0;bottom: 0;z-index: 9999}
#pop {background: url(../images/bg_3431118.png) no-repeat;width: 506px;height: 341px;position: fixed;top: 50%;left: 50%;margin-left: -253px;margin-top: -170px;z-index: 10000;overflow: hidden}
#pop .close {display: block;background: url(../images/close_439304b.png) no-repeat;width: 52px;height: 52px;position: absolute;right: 5px;top: 5px;-webkit-transition: all ease-out .5s;-moz-transition: all ease-out .5s;-ms-transition: all ease-out .5s;-o-transition: all ease-out .5s;transition: all ease-out .5s}
#pop .close:hover {-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);-ms-transform: rotate(180deg);-o-transform: rotate(180deg);transform: rotate(180deg)}
#pop .pop-con {width: 400px;margin: 120px auto 0;color: #fff;font-size: 16px}
#pop .f24 {font-size: 24px}
#pop .btn_ok {display: block;background: url(../images/btn_ok_e1fe029.png) no-repeat;width: 184px;height: 48px;margin: 25px auto}
#pop .btn_ok:hover {background: url(../images/btn_ok2_e99fcdd.png) no-repeat}
.pop_video_bg {position: fixed;top: 0;left: 0;background: #000;opacity: .65;filter: alpha(opacity=65);width: 100%;z-index: 9999;min-width: 1200px}
.pop_video {position: fixed;left: 50%;z-index: 10000;display: none}
.close_pv {position: absolute;right: -48px;top: 0;width: 48px;height: 48px;text-indent: -9999em;outline: 0;background-repeat: no-repeat;}
.close_pv:hover {background-repeat: no-repeat;}
@keyframes goto {
	from {transform: translateY(100px);opacity: 0;filter: alpha(opacity=0)}to {opacity: 1;transform: translateY(0px);filter: alpha(opacity=100)}
}
@-webkit-keyframes goto {
	from {transform: translateY(100px);opacity: 0;filter: alpha(opacity=0)}to {opacity: 1;transform: translateY(0px);filter: alpha(opacity=100)}
}
.animate {opacity: 0}
.animate.show {opacity: 1;-webkit-animation: goto .3s ease-out both;-moz-animation: goto .3s ease-out both;-ms-animation: goto .3s ease-out both;animation: goto .3s ease-out both}
.arrow {width: 75px;height: 50px;position: fixed;bottom: 50px;left: 50%;margin-left: -37px;-webkit-animation: arrow 1s ease-out infinite;-moz-animation: arrow 1s ease-out infinite;-ms-animation: arrow 1s ease-out infinite;animation: arrow 1s ease-out infinite;background-repeat: no-repeat;}
.desc .des5 {background-position: 0px 0px}
.desc .des3 {background-position: -357px 0px}
.desc .des1 {background-position: 0px -329px}
.order_con {background-position: -350px -329px}
.topbar .goindex {background-position: -500px -329px}
.topbar .goindex:hover {background-position: -350px -468px}
.block1 .logo {background-position: -707px 0px}
.block1 .play {background-position: -707px -85px}
.arrow {background-position: -810px -85px}
.close_pv {background-position: -885px -85px}
.close_pv:hover {background-position: -707px -169px}
.desc .des2 {background-position: -755px -169px}
.desc .des4 {background-position: -755px -169px}
.block1 .play .player {background-position: -933px -85px}
.order_con .btn_order {background-position: -810px -135px}
.order_con .btn_order:hover {background-position: -811px -169px}
.desc .des5, .desc .des3, .desc .des1, .order_con, .topbar .goindex, .topbar .goindex:hover, .block1 .logo, .block1 .play, .arrow, .close_pv, .close_pv:hover, .desc .des2, .desc .des4, .block1 .play .player, .order_con .btn_order, .order_con .btn_order:hover {background-image: url(../images/index_z_8371160.png)}